<form hx-post="/front/v1/projects/{{project_name}}/bugs"
      hx-headers='{"eaid-next": "form-refresh"}'
      hx-ext='json-enc'>
    <!-- forms add bug -->
    <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input type="text" id="title" name="title" value="" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="version" class="form-label">Seen in version:</label>
        <select class="form-select" aria-label="seen in version" id="version" name="version">
            {%for version in versions%}
                <option value="{{version}}">{{version}}</option>
            {%endfor%}
        </select>
    </div>
    <div class="mb-3">
        <label for="url" class="form-label">Defect link:</label>
        <input type="url" id="url" name="url" value="" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="criticality" class="form-label">Defect criticality:</label>
        <select class="form-select" aria-label="Defect criticality" id="criticality" name="criticality">
            {% for crit in criticality %}
                <option value="{{crit}}" {%if loop.first%} selected {%endif%}>{{crit}}</option>
            {%endfor%}
        </select>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Defect description:</label>
        <input type="text" id="description" name="description" class="form-control" value=""/>
    </div>
    <button type="submit"
            class="btn btn-secondary">
            Record bug
    </button>
    <button class="btn btn-secondary"
                hx-delete="/clear"
                hx-target="#dialog"
                hx-headers='{"eaid-next": "form-refresh"}'
                hx-trigger="click">Close</button>
</form>