<form hx-post="/front/v1/projects/{{project_name}}/campaigns"
      hx-swap="none"
      hx-headers='{"eaid-next": "form-delete"}'>
    <!-- Form: Add Campaign -->
    <div class="mb-3 hstack">
        <label for="version" class="form-label">Version number :</label>
        <select class="form-select" aria-label="seen in version" id="version" name="version">
            {%for version in versions%}
                <option value="{{version}}">{{version}}</option>
            {%endfor%}
        </select>
    </div>
    <div class="button">
        <button type="submit"
                class="btn btn-secondary"
                >
            Add version
        </button>
        <button class="btn btn-secondary"
                hx-delete="/clear"
                hx-target="#campaign-form"
                hx-swap="innerHTML"
                hx-trigger="click, form-delete from:body">Close</button>
    </div>
</form>