<!-- Add Scenarios -->
{% for scenario in scenarios %}
<div class="form-check">
        <input class="form-check-input" type="checkbox" value="{{scenario.scenario_id}}" id="check{{loop.index}}" name="scenario">
        <label class="form-check-label" for="check{{loop.index}}">
            {{scenario.scenario_id}}: {{scenario.name}}
            <p>{{scenario.steps}}</p>
        </label>
    </div>
{% endfor %}
<input type="hidden" name="epic" value="{{epic}}"/>
<input type="hidden" name="feature" value="{{feature}}"/>