<form>
    <!-- Form: Add Version -->
    <div class="mb-3">
        <label for="version" class="form-label">Version number :</label>
        <input type="text" id="version" name="version" value="" class="form-control">
    </div>

        <button
                class="btn btn-secondary"
                hx-post="/front/v1/projects/{{project_name}}/versions"
                hx-swap="none"
               >
            Add version
        </button>
    <button class="btn btn-secondary"
                hx-delete="/clear"
                hx-target="#dialog"
                hx-trigger="click, update-version-table from:body">Close</button>
</form>



