<form>
    <!-- Form: campain scenario_internal_id status -->
    Current status: {{scenario.status}}
    <select id="new_status" name="new_status">
        {% for status in statuses %}
            <option value="{{status}}" {% if scenario.status == status %} selected {% endif%}>{{status}}</option>
        {% endfor %}
    </select>
    <button class="btn btn-primary"
            hx-put="/front/v1/projects/{{project_name}}/campaigns/{{version}}/{{occurrence}}/{{ticket_reference}}/scenarios/{{scenario.scenario_id}}"
            hx-ext="json-enc"
            hx-headers='{"eaid-next":"{{next}}"}'
            hx-enc="application/json"
            hx-target="#campaignMessage">Update</button>
    <button class="btn btn-primary"
            hx-delete="/clear"
            hx-trigger="click" hx-target="#campaignMessage" >Cancel</button>
</form>