[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
jinja2 = "*"
pymongo = "*"
dpath = "*"
python-multipart = "*"
passlib = "*"
bcrypt = "*"
pydantic = {extras = ["email"], version = "*"}
pyjwt = {extras = ["crypto"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
