[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
jinja2 = "*"
dpath = "*"
bson = "*"
python-multipart = "*"
passlib = "*"
bcrypt = "*"
itsdangerous = "*"
bokeh = "*"
pydantic = {extras = ["email"], version = "*"}
pyjwt = {extras = ["crypto"], version = "*"}
psycopg = {extras = ["binary", "pool"], version = "*"}
python-docx = "*"
redis = "*"

[dev-packages]
pydeps = "*"

[requires]
python_version = "3.11"
