
<table class="table table-bordered table-striped">
    <!-- Campaign Table -->
      <thead>
       <tr>
        <th>Version</th>
        <th>Occurrence</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      {% for campaign in campaigns %}
      <tr>
        <td>{{campaign.version}}</td>
        <td><a hx-get="/front/v1/projects/{{project_name}}/campaigns/{{campaign.version}}/{{campaign.occurrence}}"
               hx-target="#modals-here"
               hx-headers='{"eaid-request": "form"}'>{{campaign.occurrence}}</a></td>
        <td>{{campaign.status}}</td>
          <td><button class="btn btn-primary"
                      hx-get="/front/v1/projects/{{project_name}}/campaigns/{{campaign.version}}/{{campaign.occurrence}}"
                      hx-target="#content-block"
                      hx-headers='{"eaid-request":""}'
                      >Manage</button> </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
     {% if nav_bar %}
      <nav aria-label="campaign navigation">
        <ul class="pagination">
            {% for page in pages %}
              {% if current_page != page[0] and loop.first %}
                 <li class="page-item"><a class="page-link"
                                          hx-trigger="click"
                                          hx-target="#campaign_table"
                                          hx-headers='{"eaid-request": "table"}'
                                          hx-get="/front/v1/projects/{{project_name}}/campaigns?limit={{page[1]}}&skip={{page[2]}}">Previous</a></li>
               {% else %}
                    {% if current_page != page[0] and loop.last %}
                      <li class="page-item"><a class="page-link"
                                          hx-trigger="click"
                                          hx-target="#campaign_table"
                                          hx-headers='{"eaid-request": "table"}'
                                          hx-get="/front/v1/projects/{{project_name}}/campaigns?limit={{page[1]}}&skip={{page[2]}}">Next</a></li>
                    {% else %}
                             <li class="page-item"><a class="page-link"
                                          hx-trigger="click"
                                          hx-target="#campaign_table"
                                          hx-headers='{"eaid-request": "table"}'
                                          hx-get="/front/v1/projects/{{project_name}}/campaigns?limit={{page[1]}}&skip={{page[2]}}">{{page[0]}}</a></li>
                    {%endif%}
               {%endif%}
            {%endfor%}
        </ul>
      </nav>
      {% endif %}
