<div class="accordion"
         id="campaignTickets"
>
{% for ticket in campaign.tickets %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ticket.reference}}">
                <button class="accordion-button collapsed hstack"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse{{loop.index}}"
                        aria-expanded="false"
                        aria-controls="collapse{{loop.index}}"
                        hx-trigger="click once"
                        hx-headers='{"eaid-next":"add-scenario-{{loop.index}}"}'
                        hx-get="/front/v1/projects/{{project_name}}/campaigns/{{version}}/{{occurrence}}/tickets/{{ticket.reference}}/scenarios"
                        hx-target="#accordion-body{{loop.index}}"
                >
                       <span>{{ticket.reference}}: {{ticket.description}}</span>
                       <span class="ms-auto"
                             hx-trigger="load, add-scenario-{{loop.index}} from:body"
                             hx-target="this"
                             hx-swap="innerHTML"
                             hx-get="/front/v1/projects/{{project_name}}/campaigns/{{version}}/{{occurrence}}/tickets/{{ticket.reference}}/scenarios"
                             hx-headers='{"eaid-request": "statistics"}'></span>
                </button>
            </h2>
            <div id="collapse{{loop.index}}"
                 class="accordion-collapse collapse"
                 aria-labelledby="heading{{loop.index}}"
                 data-bs-parent="#campaignTickets">
                <div>
                    <button class="btn btn-secondary"
                            hx-trigger="click"
                            hx-headers='{"eaid-next":"add-scenario-{{loop.index}}"}'
                            hx-get="/front/v1/projects/{{project_name}}/campaigns/{{version}}/{{occurrence}}/tickets/{{ticket.reference}}"
                            hx-target="#campaignMessage"
                            >Add scenarios</button>
                    <button class="btn"
                            hx-trigger="click, add-scenario-{{loop.index}} from:body"
                            hx-headers='{"eaid-next":"add-scenario-{{loop.index}}"}'
                            hx-get="/front/v1/projects/{{project_name}}/campaigns/{{version}}/{{occurrence}}/tickets/{{ticket.reference}}/scenarios?initiator=add-scenario-{{loop.index}}"
                            hx-target="#accordion-body{{loop.index}}">
                        <img src="/assets/reload.svg"
                                 alt="reload"
                                 height="20px"
                                 width="20px"/>
                    </button>
                    <button class="btn btn-secondary"
                            hx-get="/front/v1/projects/{{project_name}}/campaigns/{{version}}/{{occurrence}}/deliverables?deliverable_type=evidence&ticket_ref={{ticket.reference}}"
                            hx-target="#addResults"
                    >Evidence template</button>
                </div>
                <div class="accordion-body" id="accordion-body{{loop.index}}">
                    <strong>{{ticket.reference}}</strong>
                </div>
            </div>
          </div>
        {% endfor %}
</div>