{% from "macros/page_numbering.html" import pg_numb %}
<table class="table table-bordered table-striped">
    <!-- Campaign Table -->
      <thead>
       <tr>
        <th>Version</th>
        <th>Occurrence</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      {% for campaign in campaigns %}
      <tr>
        <td>{{campaign.version}}</td>
        <td><button class="btn btn-link"
                    hx-get="/front/v1/projects/{{project_name}}/campaigns/{{campaign.version}}/{{campaign.occurrence}}"
                    hx-target="#modals-here"
                    hx-headers='{"eaid-request": "form"}'>{{campaign.occurrence}}</button></td>
        <td>{{campaign.status}}</td>
          <td><button class="btn btn-primary"
                      hx-get="/front/v1/projects/{{project_name}}/campaigns/{{campaign.version}}/{{campaign.occurrence}}"
                      hx-target="#content-block"
                      hx-headers='{"eaid-request":""}'
                      >Manage</button> </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
     {% if nav_bar %}
       {{ pg_numb('#campaign_table', "/front/v1/projects/" ~ project_name ~ "/campaigns" , pages, current_page, 'campaign navigation') }}
      {% endif %}
