<table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col" rowspan="2" style="vertical-align : middle;text-align:center;">Project</th>
            <th scope="col" rowspan="2" style="vertical-align : middle;text-align:center;">Version</th>
            <th scope="col" rowspan="2" style="vertical-align : middle;text-align:center;">Status</th>
            <th scope="col" rowspan="2" style="vertical-align : middle;text-align:center;">Started</th>
            <th scope="col" rowspan="2" style="vertical-align : middle;text-align:center;">End forecast</th>
            <th scope="col" colspan="6" style="text-align:center;">Tickets</th>
            <th scope="col" colspan="3" style="text-align:center;">Open Bugs</th>
            <th scope="col" colspan="3" style="text-align:center;">Closed Bugs</th>
            <th scope="col" rowspan="2" style="vertical-align : middle;text-align:center;">Details</th>
        </tr>
        <tr>
            <th scope="col">Open</th>
            <th scope="col">In Progress</th>
            <th scope="col">Blocked</th>
            <th scope="col">Out of scope</th>
            <th scope="col">Done</th>
            <th scope="col">Total</th>
            <th scope="col">Blocking</th>
            <th scope="col">Major</th>
            <th scope="col">Minor</th>
            <th scope="col">Blocking</th>
            <th scope="col">Major</th>
            <th scope="col">Minor</th>
        </tr>
    </thead>
    <tbody>
    {% for item in project_version %}
        <tr id="{{item.alias}}_{{item.version}}">
            <td>{{item.name}}</td>
            <td>{{item.version}}</td>
            <td>{{item.status}}</td>
            <td>{{item.started.strftime("%Y-%m-%d") if item.started}}</td>
            <td>{{item.end_forecast.strftime("%Y-%m-%d") if item.end_forecast}}</td>
            <td>{{item.statistics.open}}</td>
            <td>{{item.statistics.in_progress}}</td>
            <td>{{item.statistics.blocked}}</td>
            <td>{{item.statistics.cancelled}}</td>
            <td>{{item.statistics.done}}</td>
            <td>{{item.statistics.open + item.statistics.in_progress + item.statistics.blocked + item.statistics.cancelled + item.statistics.done}}</td>
            <td>{{item.bugs.open_blocking}}</td>
            <td>{{item.bugs.open_major}}</td>
            <td>{{item.bugs.open_minor}}</td>
            <td>{{item.bugs.closed_blocking}}</td>
            <td>{{item.bugs.closed_major}}</td>
            <td>{{item.bugs.closed_minor}}</td>
            <td><button type="button"
                        class="btn btn-primary"
                        data-toggle="collapse"
                        href="#dashboard-table"
                    hx-get="/{{item.name}}/versions/{{item.version}}/tickets"
                    hx-target="#tickets">+</button></td>
        </tr>
    {% endfor %}
    </tbody>
</table>