<table class="table table-bordered table-striped">
    <!-- Table: Ticket - Scenarios -->
    <thead>
    <tr>
        <th>Epic</th>
        <th>Feature</th>
        <th>Id</th>
        <th>Name</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for scenario in scenarios %}
        <tr>
            <td>{{scenario.epic_id}}</td>
            <td>{{scenario.feature_id}}</td>
            <td>{{scenario.scenario_id}}</td>
            <td>{{scenario.name}}</td>
            <td>{{scenario.status.value}}</td>
            <td><button class="btn btn-danger"
                        hx-trigger="click"
                        hx-target="#campaignMessage"
                        hx-headers='{"eaid-next":"{{initiator}}"}'
                        hx-delete="/front/v1/projects/{{project_name}}/campaigns/{{version}}/{{occurrence}}/tickets/{{ticket_reference}}/scenarios/{{scenario.sc_internal}}">Delete</button>
            </td>
            <td><button class="btn btn-primary"
                        hx-trigger="click"
                        hx-target="#campaignMessage"
                        hx-headers='{"eaid-next":"{{initiator}}"}'
                        hx-get="/front/v1/projects/{{project_name}}/campaigns/{{version}}/{{occurrence}}/tickets/{{ticket_reference}}/scenarios/{{scenario.scenario_id}}">Update</button></td>
        </tr>
    {% endfor %}
    </tbody>
</table>