
<table class="table table-bordered table-striped caption-top">
  <!-- Table version tickets -->
  <caption>Tickets in version {{version}}</caption>
  <thead>
    <tr>
      <th>Reference</th>
      <th>Status</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for ticket in tickets %}
    <tr>
      <td>{{ticket.reference}}</td>
      <td>{{ticket.status}}</td>
      <td>{{ticket.description}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<button class="btn btn-primary"
        hx-get="/front/v1/projects/{{project_name}}/versions/{{version}}"
        hx-headers='{"eaid-request": "FORM"}'
        hx-target="#ticket">
  Add a new ticket
</button>
<button class="btn btn-primary"
        hx-delete="/clear"
        hx-trigger="click"
        hx-target="closest div">Close</button>