<form>
    <!-- Selector: epic label selectors -->
<div>
    <label for="epic" class="form-label">Epics</label>
    <select class="form-select"
            name="epic"
            id="epic"
            hx-get="/front/v1/projects/{{project_name}}/repository/epics-features"
            hx-target="#features"
            hx-indicator=".htmx-indicator">
        {% for epic in epics %}
            <option value="{{epic}}">{{epic}}</option>
        {% endfor %}
    </select>
</div>
<div>
   <label for="features"
          class="form-label"  >Features</label>
   <select class="form-select"
           id="features"
           name="feature">
      {% for feature in features %}
            <option value="{{feature}}">{{feature}}</option>
        {% endfor %}
   </select>
</div>
    <button type="button" class="btn btn-primary"
            hx-post="/front/v1/projects/{{project_name}}/repository/scenarios"
            hx-target="#repositoryTable"
            hx-ext='json-enc'
            hx-encoding='application/json'>Filter</button>
    <button type="button" class="btn btn-secondary"
            hx-get="/front/v1/projects/{{project_name}}/repository/scenarios?limit=10&skip=0"
            hx-target="#repositoryTable">Clear filter</button>
</form>