{% extends "base.html" %}
{% block titre %}  {% endblock %}

{% block contenu %}
<div class="container">
    <button class="btn btn-primary"
            hx-headers='{"eaid-request":"form"}'
            hx-target="#modals-here"
            hx-get="/front/v1/users">Create user</button>
    <div id="users_table"
         hx-trigger="load, form-delete from:body"
         hx-target="#users_table"
         hx-headers='{"eaid-request":"table"}'
         hx-get="/front/v1/users?limit=10&skip=0"
         class="container">
  </div>
</div>
{% endblock %}