{% extends "base.html" %}
{% block titre %}  {% endblock %}
{% block contenu %}
<div id="project_{{project_name}}" class="container">
    <!-- Campaign Board -->
    <h1>Campaign for {{project_name}} version {{version}} (run {{occurrence}})</h1>
    <h2>Status: {{campaign.status}}</h2>
    <div class="hstack">
        <button class="btn"
                hx-get="/front/v1/projects/{{project_name}}/campaigns/{{version}}/{{occurrence}}/deliverables"
                hx-target="#addResults"
        >
            Test Plan
        </button>
        <button class="btn"
                hx-get="/front/v1/projects/{{project_name}}/campaigns/{{version}}/{{occurrence}}/deliverables?deliverable_type=TER"
                hx-target="#addResults"
        >
            TER
        </button>
        <button class="ms-auto btn"
                hx-post="/front/v1/projects/{{project_name}}/campaigns/{{version}}/{{occurrence}}/results"
                >
            <img src="/assets/camera.svg"
                 alt="Snapshot state"
                 height="20px"
                 width="20px"/></button>
        <button class="btn"
                hx-get="/front/v1/projects/{{project_name}}/campaigns/{{version}}/{{occurrence}}/results"
                hx-target="#addResults"
                >
            <img src="/assets/trend-arrow.svg"
                 alt="Campaign status view"
                 height="20px"
                 width="20px"/>
        </button>
    </div>
    <div id="campaignMessage"></div>
    <div class="accordion" id="campaignTickets">
        {% for ticket in campaign.tickets %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ticket.reference}}">
                <button class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse{{loop.index}}"
                        aria-expanded="false"
                        aria-controls="collapse{{loop.index}}"
                        hx-trigger="click once"
                        hx-headers='{"eaid-next":"add-scenario-{{loop.index}}"}'
                        hx-get="/front/v1/projects/{{project_name}}/campaigns/{{version}}/{{occurrence}}/tickets/{{ticket.reference}}/scenarios"
                        hx-target="#accordion-body{{loop.index}}"
                >
                    {{ticket.reference}}: {{ticket.description}}
                </button>
            </h2>
            <div id="collapse{{loop.index}}"
                 class="accordion-collapse collapse"
                 aria-labelledby="heading{{loop.index}}"
                 data-bs-parent="#campaignTickets">
                <div>
                    <button class="btn btn-secondary"
                            hx-trigger="click"
                            hx-headers='{"eaid-next":"add-scenario-{{loop.index}}"}'
                            hx-get="/front/v1/projects/{{project_name}}/campaigns/{{version}}/{{occurrence}}/tickets/{{ticket.reference}}"
                            hx-target="#campaignMessage"
                            >Add scenarios</button>
                    <button class="btn"
                            hx-trigger="click, add-scenario-{{loop.index}} from:body"
                            hx-headers='{"eaid-next":"add-scenario-{{loop.index}}"}'
                            hx-get="/front/v1/projects/{{project_name}}/campaigns/{{version}}/{{occurrence}}/tickets/{{ticket.reference}}/scenarios?initiator=add-scenario-{{loop.index}}"
                            hx-target="#accordion-body{{loop.index}}">
                        <img src="/assets/reload.svg"
                                 alt="reload"
                                 height="20px"
                                 width="20px"/>
                    </button>
                </div>
                <div class="accordion-body" id="accordion-body{{loop.index}}">
                    <strong>{{ticket.reference}}</strong>
                </div>
            </div>
          </div>
        {% endfor %}
    </div>
    <div class="hstack">
    <button class="btn btn-primary"
            hx-get="/front/v1/projects/{{project_name}}/campaigns/{{version}}/{{occurrence}}/tickets"
            hx-headers='{"eaid-request": "FORM"}'
            hx-target="#addTickets">Add ticket to campaign</button>
    <button class="btn btn-secondary"
            hx-get="/front/v1/projects/{{project_name}}/campaigns"
            hx-headers='{"eaid-request": "REDIRECT"}'>Return to campaigns board</button>
    </div>
    <div id="addTickets"></div>
    <div id="addResults"></div>
</div>
{% endblock %}