<div id="project_{{project_name}}" class="container">
    <!-- Campaign Board -->
    <h1>Campaign for {{project_name}} version {{version}} (run {{occurrence}})</h1>
    <h2>Status: {{campaign.status.value}}</h2>
    <div class="hstack">
        <button class="btn"
                hx-get="/front/v1/projects/{{project_name}}/campaigns/{{version}}/{{occurrence}}/deliverables"
                hx-target="#addResults"
        >
            Test Plan
        </button>
        <button class="btn"
                hx-get="/front/v1/projects/{{project_name}}/campaigns/{{version}}/{{occurrence}}/deliverables?deliverable_type=TER"
                hx-target="#addResults"
        >
            TER
        </button>
        <button class="ms-auto btn"
                hx-post="/front/v1/projects/{{project_name}}/campaigns/{{version}}/{{occurrence}}/results"
                >
            <img src="/assets/camera.svg"
                 alt="Snapshot state"
                 height="20px"
                 width="20px"/></button>
        <button class="btn"
                hx-get="/front/v1/projects/{{project_name}}/campaigns/{{version}}/{{occurrence}}/results"
                hx-target="#addResults"
                >
            <img src="/assets/trend-arrow.svg"
                 alt="Campaign status view"
                 height="20px"
                 width="20px"/>
        </button>
    </div>
    <div id="campaignMessage"></div>
    <div id="campaignTable"
         hx-get="/front/v1/projects/{{project_name}}/campaigns/{{version}}/{{occurrence}}"
         hx-headers='{"eaid-request": "table"}'
         hx-trigger="load, update-table from:body">

    </div>


    <div class="hstack">
    <button class="btn btn-primary"
            hx-get="/front/v1/projects/{{project_name}}/campaigns/{{version}}/{{occurrence}}/tickets"
            hx-headers='{"eaid-request": "FORM"}'
            hx-target="#addTickets">Add ticket to campaign</button>
    <button class="btn btn-secondary"
            hx-get="/front/v1/projects/{{project_name}}?tab=campaigns">Return to campaigns board</button>
    </div>
    <div id="addTickets"></div>
    <div id="addResults"></div>
</div>
