{% extends "base_project.html" %}
<!-- Project data. -->
{% block project %}
  <h1>Project: {{project_name}} Campaigns</h1>
  <div id="{{project_name}}-campaigns" class="container">
    <div id="dialog"></div>
    <button id="{{project_name}}-new" class="btn btn-primary"
            hx-trigger="click"
            hx-target="#campaign-form"
            hx-get="/front/v1/projects/{{project_name}}/forms/campaign"
    >Create new</button>
    <div id="campaign_table" hx-trigger="load" hx-target="#campaign_table" hx-get="/front/v1/projects/{{project_name}}/campaigns/table?limit=10&skip=0" class="container">
  </div>
  <div id="campaign-form" class="container"></div>

{% endblock %}