{% extends "base_project.html" %}
<!-- Project data. -->
{% block project %}
  <h1>Project: {{project_name}}</h1>
  <div id="{{project_name}}-versions" class="container">
    <div id="dialog"></div>
    <button class="btn btn-primary"
            hx-get="/front/v1/projects/{{project_name}}/forms/version"
            hx-target="#dialog">Add a new version</button>
    <div id="versions_table">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
              <th>Version</th>
              <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for version in versions %}
            <tr id="version-{{version.value}}">
              <td>{{version.value}}</td>
              <td>{{version.status}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock %}